@charset "utf-8";
/* 你自己的样式 */
.page{float: right;margin-top: 10px;}
.page a{display: inline-block;padding: 2px 10px;border:1px #cccccc solid;margin-left: 10px;}
.page .current{display: inline-block;padding: 2px 10px;background: #077ee3;color: #000; margin-left: 15px; border: 1px #077ee3 solid;}
