<include file="Public:header" />



<body>

<div class="pd-20">

	<form action="" method="post" class="form form-horizontal" id="form-msg">

		<div class="row cl">

			<label class="form-label col-3">账号：</label>

			<div class="formControls col-5">
				<!-- {$username} -->
				<input type="text" class="input-text" value="{$username}"  name="username" datatype="*" >
			</div>

			<div class="col-4"> </div>

		</div>

		<div class="row cl">

			<label class="form-label col-3">昵称：</label>

			<div class="formControls col-5">

				{$name}

			</div>

			<div class="col-4"> </div>

		</div>


<!-- 		<div class="row cl">

			<label class="form-label col-3">身份证：</label>

			<div class="formControls col-5">

				{$number}

			</div>

			<div class="col-4"> </div>

		</div> -->



<!-- 		<div class="row cl">

			<label class="form-label col-3"><span class="c-red">*</span>点券：</label>

			<div class="formControls col-5">

				<input type="text" class="input-text" value="{$coupons}"  name="coupons" datatype="n" >	

			</div>

			<div class="col-4"> </div>

		</div> -->
        <div class="row cl">

			<label class="form-label col-3"><span class="c-red">*</span>停用：</label>

			<div class="formControls col-5">

				<input type="text" class="input-text" value="{$is_stop}"  name="is_stop" datatype="*" >	

			</div>

			<div class="col-4"> </div>

		</div>
        <div class="row cl">

			<label class="form-label col-3"><span class="c-red">*</span>莲藕：</label>

			<div class="formControls col-5">

				<input type="text" class="input-text" value="{$lotus}"  name="lotus" datatype="*" >	

			</div>

			<div class="col-4"> </div>

		</div>
        

        <div class="row cl">

			<label class="form-label col-3"><span class="c-red">*</span>莲蓬：</label>

			<div class="formControls col-5">

				<input type="text" class="input-text" value="{$peng}"  name="peng" datatype="*" >	

			</div>

			<div class="col-4"> </div>

		</div>

        <div class="row cl">

			<label class="form-label col-3"><span class="c-red">*</span>密保问题：</label>

			<div class="formControls col-5">

				<select class="question_id2" name="question_id" id="question_id2" style="background: white;padding: 4px 10px;font-size: 12px;margin: 0px 0px 20px 0;">
					<option value="999">=选择密保问题=</option>
					<volist name="question_list" id="vo">
					<option value="{$vo.id}" {:$question_id ==$vo['id']?'selected':''}>{$vo.conment}</option>
					</volist>
				</select>
			</div>

			<div class="col-4"> </div>

		</div>

        <div class="row cl">

			<label class="form-label col-3"><span class="c-red">*</span>密保答案：</label>

			<div class="formControls col-5">

				<input type="text" class="input-text" value="{$question_answer}"  name="question_answer" datatype="*" >	

			</div>

			<div class="col-4"> </div>

		</div>

		<div class="row cl">

			<label class="form-label col-3">注册时间：</label>

			<div class="formControls col-5">

				{$add_time|date='Y:m:d H:i:s',###}

			</div>

			<div class="col-4"> </div>

		</div>



		<div class="row cl">

			<div class="col-9 col-offset-3">

				<input type="hidden" name="id" value="{$id}">

				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">

			</div>

		</div>

	</form>

</div>



<script type="text/javascript">

$(function(){

	$('.skin-minimal input').iCheck({

		checkboxClass: 'icheckbox-blue',

		radioClass: 'iradio-blue',

		increaseArea: '20%'

	});

		

	$("#form-msg").Validform({

		tiptype:2,

		ajaxPost:true,

		callback:function(data){

			setTimeout(function(){

				$.Hidemsg();

				if(data.status == 'y'){

					var index = parent.layer.getFrameIndex(window.name);

					parent.location.reload();

					parent.layer.close(index);

				}

			},1000);

		}

	});

});

</script>

</body>

</html>